
html, body {
    margin: 0;
    font-family: Arial;
    color: $secondary-color;
}
  p, a {
    font-size: 1rem;
  }
  
  img {
    padding-left: 30px;
    height: 350px;
    width: 550px;
  }
  
  ul {
    list-style: none;
    }
  
  .container {
    min-height: 100%;
    display: flex;
  }
  
  a:link { 
      text-decoration: none;
      color: $primary-color;
  }
  a:hover {
    text-decoration: underline;
    color:orange;
     }

     a:visited { 
      color: $primary-color;
     }

     