
  .main {
    width: 85%;
    min-height: 750px;
    min-width: 600px;
    background-color: $primary-color;
    > * {
      padding-left: 100px;
    }
  

   li {
    font-size: 0.85rem;
    text-decoration-color: $primary-color;

  }
  
   h1 {
    font-size: 62px;
    -webkit-margin-before: 0;
    padding-top: 40px;
    padding-left: 30px;
  }
  
   p {
    width: 55%;
    min-width: 550px;
  }
  
   a {
    color: inherit;
    text-decoration: none;
  }
  
     a:hover {
    text-decoration: underline;
     }
}